*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}
/*
.bg{
    
    width: 100%;
    margin: 0 auto;
    height: 30vw;
    background-image:url('../imagens/sunset.jpg');
    background-color: red;
    background-size:cover;
    background-attachment: fixed;

    background-repeat: no-repeat;
    background-size: auto;
    background-position:  center;
    
}
*/
.box{
    width: 100%;
    margin: 80px auto;
    text-align: center;
    background-color: beige;

}
.item{
    margin: 0 40px;
    display: inline-block;

}